/* Página de administração */
td, th {
	border-bottom:thin #888 dashed;
	border-right:thin #888 dashed;
	text-align:center;
	padding:5px;
}

th[onclick] {
	cursor:pointer;
}

td.nomePost {
	font-size:smaller;
}

tr:hover > td {
	background-color:#CCC;
	cursor:default;
}

.espacoTotal {
	background-color:#888;
	font-size:0;
}

.espacoUsadoAdmin, .espacoUsado, .espacoLivreReservado {
	font-size:medium;
	display:inline-block;
	text-align:center;
	padding:3px;
	overflow:hidden;
	border-right:thin black solid;
}

.espacoUsadoAdmin {
	color:white;
	background-color:#222;
}

.espacoUsado {
	background-color:#D33;
}

.espacoLivreReservado {
	background-color:#E99;
}

.legendaUsoAdmin {
	color:#222;
	background-color:#222;
}

.legendaUso {
	color:#D33;
	background-color:#D33;
}

.legendaLivreReservado {
	color:#E99;
	background-color:#E99;
}

.legendaLivre {
	color:#888;
	background-color:#888;
}
