# Central de conhecimento FEJESP
# Contato: ti@fejesp.org.br
# Autor: Guilherme de Oliveira Souza (http://sitegui.com.br)
# Data: 06/06/2013

# Redireciona qualquer acesso às páginas aqui definidas para index.php
# Para isso funcionar, AllowOverride deve ser definido como All em httpd.conf

# Liga o sistema de reescrita de endereço
RewriteEngine On

# Define a regra: qualquer requisição para um modelo de página
# será enviada para a página index.php com o nome do modelo
# e o restante da URL enviados como parâmetro GET (p e q)
# As opções PT (executa index.php e retorna o resultado) e QSA (evita perdas de dados GET) garantem que tudo funcione
RewriteRule ^(admin|busca|editarPasta|editarPost|editarUsuario|form|index|pasta|post)(/.*)?$ index.php?p=$1&q=$2 [PT,QSA]
