/*
 * Central de conhecimento FEJESP
 * Contato: ti@fejesp.org.br
 * Autor: Guilherme de Oliveira Souza (http://sitegui.com.br)
 * Data: 06/06/2013
*/

/*
Cores FEJESP:
vermelho = rgb(215, 47, 46) / #D33
preto = rgb(30, 26, 27) / #222
cinza = rgb(143, 141, 141) / #888
vermelhoClaro = rgb(235, 151, 151) / #E99
cinzaClaro = rgb(199, 198, 198) / #CCC
*/

/* Layout básico */
* {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

@font-face {
	font-family:MyriadPro;
	src:local(MyriadPro-Regular), url(/MyriadPro-Regular.otf);
	font-weight:normal;
}

@font-face {
	font-family:MyriadPro;
	src:local(MyriadPro-Bold), url(/MyriadPro-Bold.otf);
	font-weight:bold;
}

body {
	margin:0;
	background-color:#EEE;
	font-family:MyriadPro, sans-serif;
	font-size:16px;
}

.container {
	width:920px;
	margin:auto;
	position:relative;
	display:block;
}

header {
	padding:15px;
	background-color:#DDD;
}

header h1 {
	width:100%;
	text-align:center;
	position:absolute;
	left:0;
	top:-20px;
}

h2, .vermelho {
	color:rgb(215, 47, 46);
}

.preto {
	color:rgb(30, 26, 27);
}

.cinzaEscuro {
	color:rgb(71, 70, 71);
}

div.conteudo {
	padding:15px;
	border-radius:15px;
	background-color:#FFF;
	margin:20px auto;
}

div.conteudo:after {
	content:"";
	clear:both;
	display:block;
	height:0;
	width:0;
	overflow:hidden;
}

.subConteudo {
	border:thin #CCC dashed;
	padding:0 15px;
}

footer {
	font-size:smaller;
	text-align:right;
	padding-bottom:30px;
}

.menuPrincipal {
	position:absolute;
	top:0;
	right:0;
	padding:10px;
	text-align:right;
}

.caminho-divisao {
	display:inline-block;
	width:16px;
	height:1em;
	background-image:url(/imgs/seta-direita.png);
	background-repeat:no-repeat;
	background-position:center center;
}

.caminho {
	text-align:left;
}

.acoes {
	text-align:right;
}

.clear {
	clear:both;
	min-height:20px;
}

.botao {
	display:inline-block;
	border-bottom:thin gray solid;
	border-right:thin gray solid;
	border-radius:7px;
	cursor:pointer;
	padding:5px;
	text-decoration:none;
	color:inherit;
}

.botao:hover {
	background-color:#E99;
}

.inativo {
	color:#777;
	background-color:#EEE;
}

.detalhe {
	font-size:smaller;
}

.tags {
	float:right;
	width:350px;
	text-align:center;
	padding:0 5px 15px 5px;
}

.tag1, .tag2, .tag3, .tag4, .tag5 {
	display:inline-block;
	margin:5px 7px;
	border-bottom:thin #888 solid;
	cursor:pointer;
	white-space:nowrap;
	color:inherit;
	text-decoration:none;
}

.tag1:hover, .tag2:hover, .tag3:hover, .tag4:hover, .tag5:hover {
	border-bottom:thin #D33 solid;
	background-color:#FEE;
}

.tag1 {
	font-size:x-large;
}

.tag2 {
	font-size:large;
}

.tag3 {
	font-size:medium;
}

.tag4 {
	font-size:small;
}

.tag5 {
	font-size:x-small;
}

/* Listagem */
.listagem {
	padding:10px;
}

.item:first-child {
	border-top:thin #888 solid;
}

.item {
	display:block;
	color:inherit;
	text-decoration:none;
	border-bottom:thin #888 solid;
	padding:10px;
	padding-left:35px;
	cursor:pointer;
	background-repeat:no-repeat;
}

.item:hover {
	background-color:#CCC;
}

.item-pasta {
	padding-right:30px;
	background-image:url(/imgs/pasta.png), url(/imgs/seta-direita.png);
	background-position:1% center, 99% center;
}

.item-post {
	background-image:url(/imgs/post.png);
	background-position:1% center;
}

.item-form {
	background-image:url(/imgs/form.png);
	background-position:1% center;
}

.item-anexo {
	background-image:url(/imgs/anexo.png);
	background-position:1% center;
}

.item-nome {
	font-weight:bold;
}

.item-descricao {
	font-size:smaller;
	margin-left:20px;
}

.item-visibilidade {
	visibility:hidden;
	font-size:smaller;
	margin-left:20px;
	color:#888;
}

.item:hover .item-visibilidade {
	visibility:visible;
}

/* Form */
.rotuloEsquerdo {
	float:left;
	clear:left;
}

.opcoesDireita {
	float:left;
	margin-left:15px;
}

textarea {
	width:90%;
	height:150px;
}

/* Menu de contexto */
.menu {
	position:absolute;
	border:thin #888 solid;
	box-shadow:2px 2px 2px 0 rgba(0,0,0,.5);
	border-radius:5px;
	overflow:hidden;
}
.menu > div {
	padding:3px 7px;
	cursor:pointer;
	font-size:smaller;
	background-color:#FFF;
}
.menu > div:hover {
	background-color:#E99;
}

/* Janela */
.janela {
	position:fixed;
	width:70%;
	height:70%;
	box-shadow:0 0 10px #888;
	border:thin #888 solid;
	top:15%;
	left:15%;
	background-color:white;
	z-index:2;
	border-radius:10px;
	overflow:auto;
	padding:15px;
}

.fundoJanela {
	content:"";
	z-index:1;
	display:block;
	background-color:rgba(30, 26, 27,.1);
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

/* Árvore de pastas */
.arvore-pastaFechada, .arvore-pastaAberta, .arvore-pastaFolha {
	padding:3px 0 3px 25px;
	background-repeat:no-repeat;
	background-position:5px 5px;
}

.arvore-pastaFechada:hover, .arvore-pastaAberta:hover, .arvore-pastaFolha:hover {
	background-color:rgba(143, 141, 141, .1);
}

.arvore-pastaFechada {
	background-image:url(/imgs/expandir.png);
}

.arvore-pastaAberta {
	background-image:url(/imgs/retrair.png);
}
