<h2>Administração</h2>

<h3>Usuários</h3>
<p><span class="botao"><img src="imgs/user_add.png"> Criar usuário</span></p>
<table class="usuarios">
<tbody>
	<tr><th>Ações</th><th>Nome</th><th>Email</th><th>Acessos</th></tr>
	<tr>
		<td>
			<span class="botao"><img src="imgs/desativar.png"> Desativar</span>
			<span class="botao"><img src="imgs/editar.png"> Editar</span>
			<span class="botao"><img src="imgs/remover.png"> Remover</span>
		</td>
		<td>FEJESP</td>
		<td>conhecimento@fejesp.org.br</td>
		<td>17</td>
	</tr>
	<tr class="inativo">
		<td>
			<span class="botao"><img src="imgs/ativar.png"> Reativar</span>
			<span class="botao"><img src="imgs/editar.png"> Editar</span>
			<span class="botao"><img src="imgs/remover.png"> Remover</span>
		</td>
		<td>Ex-FEJESP</td>
		<td>email@ex-fejesp.com.br</td>
		<td>10</td>
	</tr>
	<tr>
		<td>
			<span class="botao"><img src="imgs/desativar.png"> Desativar</span>
			<span class="botao"><img src="imgs/editar.png"> Editar</span>
			<span class="botao"><img src="imgs/remover.png"> Remover</span>
		</td>
		<td>FEJESP</td>
		<td>conhecimento@fejesp.org.br</td>
		<td>17</td>
	</tr>
	<tr>
		<td>
			<span class="botao"><img src="imgs/desativar.png"> Desativar</span>
			<span class="botao"><img src="imgs/editar.png"> Editar</span>
			<span class="botao"><img src="imgs/remover.png"> Remover</span>
		</td>
		<td>Ex-FEJESP</td>
		<td>email@ex-fejesp.com.br</td>
		<td>10</td>
	</tr>
</tbody>
</table>

<h3>Uso do espaço</h3>
<div class="espacoTotal">
	<div class="espacoUsadoAdmin" style="width:37%">37%</div>
	<div class="espacoUsado" style="width:17%">17%</div>
</div>
<p><span class="legendaUsoAdmin">@</span> Espaço utilizado pelos administradores: 370 MiB<br>
<span class="legendaUso">@</span> Espaço utilizado pelos outros usuários: 170 MiB<br>
<span class="legendaLivre">@</span> Espaço livre: 460 MiB</p>

<h3>Estatísticas</h3>
<p>[Gráfico de acessos]</p>
<p>[Top10 itens]</p>
