/* Página de busca */
.rotuloEsquerdo {
	float:left;
	clear:left;
}

.opcoesDireita {
	float:left;
	margin-left:15px;
}

.tags {
	float:right;
	width:350px;
	text-align:center;
	padding:0 5px 15px 5px;
}

.tag1, .tag2, .tag3, .tag4, .tag5 {
	margin:10px;
	border-bottom:thin #888 solid;
	cursor:pointer;
	white-space:nowrap;
}

.tag1:hover, .tag2:hover, .tag3:hover, .tag4:hover, .tag5:hover {
	border-bottom:thin #D33 solid;
	background-color:#FEE;
}

.tag1 {
	font-size:x-large;
}

.tag2 {
	font-size:large;
}

.tag3 {
	font-size:medium;
}

.tag4 {
	font-size:small;
}

.tag5 {
	font-size:x-small;
}
