<h2>[Nome do form]</h2>
<p style="font-size:smaller">[Data da última alteração] ([Nome do usuário que criou o post])</p>
<div class="caminho">
	<div class="botao">pastaAvô</div><div class="caminho-divisao"></div><div class="botao">pastaPai</div>
</div>

<div class="acoes">
	<span class="botao"><img src="imgs/remover.png"> Remover</span>
	<span class="botao"><img src="imgs/editar.png"> Editar</span>
	<span class="botao"><img src="imgs/desativar.png"> Desativar</span>
</div>

<div class="clear"></div>
<form class="subConteudo inativo">
	<p>Parágrafo fixo</p>
	<p>Texto simples: <input></p>
	<p>Texto grande:<br><textarea></textarea></p>
	<p>Multi-escolha:<br><input type="radio"> A<br><input type="radio"> B<br><input type="radio"> C</p>
	<p>Checks:<br><input type="checkbox"> A<br><input type="checkbox"> B<br><input type="checkbox"> C</p>
	<p><span class="botao"><img src="imgs/enviar.png"> Enviar</span></p>
</form>
